:root{
    --angular-red:red;
    --page-background:#f9dfe3;
}

.wrapper * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: var(--page-background);
    display: grid;
    place-items: center;
}

hola-mundo{
    rotate:-30deg;
}
